#Coding week 1 answers

Below you can find the answers to week 1's coding exercises.

I'd suggest having a go at the exercises first and then comparing your code to mine, or having a look if you get stuck.

Try and keep your code legible so it's easy to follow when you come back to look at it. To help with this, you can use a # to add 'comments' to your code, as I've done below.

In [ ]:
#exercise 1.1
#creating two numerical variables

number1 = 23
number2 = 6

In [ ]:
#1.2
#printing the sum

print(number1 + number2)

30

In [ ]:
#1.3
#saving the product as a new variable

product = number1 * number2

#and printing the result

print(product)

161

In [ ]:
#1.4
#overwriting the above variable

product = 180

print(product)

180

In [ ]:
#1.5
#dividing the above numbers with a remainder

remainder = number1 % number2

#and printing the result

print(remainder)

2

In [ ]:
#1.6
#saving the dimensions of the field

length = 1.5
width = 0.8

In [ ]:
#1.7
#firstly calculating the area of the field

area = length * width

#then multiply this by the cost per acre

cost = area * 1200

#printing the cost

print('the cost is £', cost)

the cost is £ 1440.0000000000002

In [ ]:
#exercise 2.1
#saving strings as new variables

word1 = 'hello'
word2 = 'world'

In [ ]:
#2.2
#using operators to combine the above

combined = word1 + word2

print(combined)

helloworld

In [ ]:
#2.3
#using indexing to print the w

print(combined[5])

w

In [ ]:
#2.4
#printing the last three letters

print(combined[-3:])

#or

print(combined[7:])

#or

print(combined[7:11])

rld
rld
rld

In [ ]:
#exercise 3.1
#using operators to compare our earlier numbers

print(number1 > number2)

#changing number1 so it is smaller then rerunning the same code

number1 = 5

print(number1 > number2)

True
False

In [ ]:
#3.2
#checking the type of our numbers

print(type(number1) == type(number2))

True

In [ ]:
#3.3
#comparing the first letters of our earlier words

print(word1[0] == word2[0])

False

In [ ]:
#3.4
#checking in both of our numbers are even

print(number1%2==0 and number2%2==0)

#changing number1 so that it is even

number1 = 4

print(number1%2==0 and number2%2==0)

False
True

In [ ]:
#3.5
#checking if either of our numbers are even

print(number1%2==0 or number2%2==0)

#changing number1 to an odd number and rerunning the code

number1 = 7

print(number1%2==0 or number2%2==0)

#changing number2 so it is also an odd number and rerunning the code

number2 = 9

print(number1%2==0 or number2%2==0)

True
True
False

In [ ]:
#3.6
#experimenting with arithemetical operators on True/False values

print(True + True)

2

In [ ]:
print(True + False)

1

In [ ]:
print(True - True)

0

In [ ]:
print(True - False)

1

In [ ]:
print(True * False)

0

In [ ]:
print(True / False)

ZeroDivisionError: ignored

In [ ]:
#exercise 4.1
#using an if statement to check if our first number if bigger than 10

if number1 > 10:
    print('this number is >10')

In [ ]:
#changing number1 and rerunning the code

number1 = 20

if number1 > 10:
    print('this number is >10')

this number is >10

In [ ]:
#4.2
#adding a statement to check if the number is <10

if number1 > 10:
    print('this number is >10')

else:
    print('this number is <10')

this number is >10

In [ ]:
#changing number1 and rerunning the code

number1 = 5

if number1 > 10:
    print('this number is >10')

else:
    print('this number is <10')

this number is <10

In [ ]:
#4.3
#currently the code will not do anything if the number is 10
#we can fix that by adding an elif statement

number1 = 10

if number1 > 10:
    print('this number is >10')

elif number1 == 10:
    print('this number is 10')

else:
    print('this number is <10')

this number is 10

In [ ]:
#4.4
#creating a new word for elephant and writing code to check if it starts with a vowel

word3 = 'elephant'

if word3[0] == 'a':
    print('the word starts with an a')

elif word3[0] == 'e':
    print('the word starts with an e')

elif word3[0] == 'i':
    print('the word starts with an i')

elif word3[0] == 'o':
    print('the word starts with an o')

elif word3[0] == 'u':
    print('the word starts with an u')

the word starts with an e

In [ ]:
#changing word3 to olive and running the code again to make sure it works as expected

word3 = 'olive'

if word3[0] == 'a':
    print('the word starts with an a')

elif word3[0] == 'e':
    print('the word starts with an e')

elif word3[0] == 'i':
    print('the word starts with an i')

elif word3[0] == 'o':
    print('the word starts with an o')

elif word3[0] == 'u':
    print('the word starts with an u')

the word starts with an o

In [ ]:
#4.5
#creating variables for exam marks and a pass mark variable

passmark = 50
mark1 = 80
mark2 = 60

In [ ]:
#4.6
#checking to see if both students have passed

if mark1 > passmark and mark2 > passmark:
    print('both students have passed!')

both students have passed!

In [ ]:
#4.7
#adding additional code to reflect other outcomes for the exam

if mark1 > passmark and mark2 > passmark:
    print('both students have passed!')

elif mark1 < passmark and mark2 < passmark:
    print('no students have passed!')

else:
    print('one student has passed!')

both students have passed!

In [ ]:
#changing their marks to test our code

mark1 = 40

if mark1 > passmark and mark2 > passmark:
    print('both students have passed!')

elif mark1 < passmark and mark2 < passmark:
    print('no students have passed!')

else:
    print('one student has passed!')

one student has passed!

In [ ]:
mark2 = 30

if mark1 > passmark and mark2 > passmark:
    print('both students have passed!')

elif mark1 < passmark and mark2 < passmark:
    print('no students have passed!')

else:
    print('one student has passed!')

no students have passed!

In [ ]:
#exercise 5.1
#asking the user to input their name, then printing it

print('your name is', input('please input your name '))

please input your name Goose
your name is Goose

In [ ]:
#5.2
#taking a user number and saving it as a variable

number3 = input()

#casting the variable from a string to an integer

number3 = int(number3)

#squaring and printing the result

print(number3**2)

2
4

In [ ]:
#5.3
#taking a user number and saving it as a variable

number4 = input('please enter a number')

number5 = input('please enter another number')

#casting both numbers to integers

number4 = int(number4)
number5 = int(number5)

#printing the sum

print(number4 + number5)

please enter a number4
please enter another number5
9

In [ ]:
#exercise 6.1
#asking the user to input a number then casting it to an integer

number1 = input('please enter a number ')
number1 = int(number1)

#using an if statement and % operator to determine if the number is even or odd

if number1 % 2 == 0:
    print('this number is even')

else:
    print('this number is odd')

please enter a number22
this number is even

In [ ]:
#6.2
#calculating BMI
#first asking the user to input their weight and height
#casting both inputs into floats, as floats can have decimal places

weight = input('please enter your weight in kg ')
height = input('please enter your height in m ')

weight = float(weight)
height = float(height)

#creating a new variable to calculate and store their BMI

bmi = weight/height**2

print(bmi)

please enter your weight in kg 50
please enter your height in m 1.6
19.531249999999996

In [ ]:
#6.3
#calculating their BMI category based on:
#underweight: <18.5
#normal: 18.5-24.9
#overweight: 25-29.9
#obese: 30+

#remember the code will sequentially check if each statement is True before moving onto the next one
#we can use this to avoid having to specify both ends of a range

if bmi >= 30:
    print('your bmi of', bmi, 'means you are obese')

elif bmi >= 25:
    print('your bmi of', bmi, 'means you are overweight')

elif bmi >= 18.5:
    print('your bmi of', bmi, 'means you are normal')

else:
    print('your bmi of', bmi, 'means you are underweight')

your bmi of 19.531249999999996 means you are normal

In [ ]:
#6.4
#assessing if inputted systolic blood pressure (SBP) indicates hypertension

sbp = input('please enter your systolic blood pressure')
sbp = int(sbp)

if sbp >140:
    print('you have high blood pressure')

else:
    print('you do not have high blood pressure')

please enter your systolic blood pressure156
you have high blood pressure

In [ ]:
#6.5
#asking for further patient information using more inputs
#we can use a \ before an ' to include quotation marks within a string

age = input('please input your age ')
age = int(age)

t2dm = input('please enter \'yes\' if you have type 2 diabetes, else enter \'no\' ')

ac = input('please enter \'yes\' if you have are of African/Caribbean descent, else enter \'no\' ')

please input your age55
please enter 'yes' if you have type 2 diabetes, else enter 'no'yes
please enter 'yes' if you have are of African/Caribbean descent, else enter 'no'no

In [ ]:
#6.6
#using the 3 inputted variables above and if/elifs to recommend a drug

if ac == 'yes':
    print('recommend a calcium channel blocker')

elif t2dm == 'yes':
    print('recommend an ace inhibitor')

elif age >= 55:
    print('recommend a calcium channel blocker')

else:
    print('recommend an ace inhibitor')

recommend an ace inhibitor